**/*.md
**/.gitkeep
**/.vscode
.dockerignore
.editorconfig
.eslintrc.js
.git
.gitconfig
.forgejo
.github
.gitignore
.husky
.next
.prettierignore
.vscode
charts
config
cypress
dist
Dockerfile*
compose.yaml
gen-docs
docs
!LICENSE
!ATTRIBUTION.md
node_modules
.env
.env.*
committag.json
report.xml
public/os_logo_filled.png
public/preview.jpg
stylelint.config.js
